<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"/> 
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
  
  
</head>


<body>
    <div class="container">
        <div class="c1">
           
           <div class="c11">
              <h1 class="mainhead">Oingo</h1>
              <p class="mainp">Welcome to Oingo! Login to continue or Signup to begin your journey</p>
           </div>
           <div id="left"><h1 class="s1class"><span>SIGN</span><span class="su">IN</span>
           </h1></div>
           <div id="right"><h1 class="s2class"><span>SIGN</span><span class="su">UP</span></h1></div>
        </div>
        <div class="c2">
           <form class="signup" action="/">
              <h1 class="signup1">SIGN UP</h1>
              <br><br><br><br>
           
           <input name="fullname" type="text" placeholder="Full Name*" class="username"/>   
           <input name="username" type="text" placeholder="Username*" class="username"/>
           
           <input name="email" type="text" placeholder="Email*" class="username"/>
           
           <input name="password" type="password" placeholder="Password*" class="username"/>
              
           <input type="submit" class="btn" value="Sign up">
           </form>
           <form class="signin" action="/">
              
              <h1 class="signup1">SIGN IN</h1>
              <br><br><br><br>
              <input name="username" type="text" placeholder="Username*" class="username"/>
           
              <input name="password" type="password" placeholder="Password*" class="username"/>
              
              <input type="submit" class="btn" value="Sign In">
              
              <br><br><br><br>
              <a href=""><p class="signup2">Forget Password?</p></a>
           </form>
           
        </div>
     </div>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
     <script>
       $(document).ready(function(){
        $(".container").fadeIn(1000);
        $(".s2class").css({"color":"#EE9BA3"});
        $(".s1class").css({"color":"#748194"}); 
        $("#left").removeClass("left_hover");
        $("#right").addClass("right_hover");
        $(".signin").css({"display":"none"});
        $(".signup").css({"display":""});
      });
      $("#right").click(function(){
        $("#left").removeClass("left_hover");
        $(".s2class").css({"color":"#EE9BA3"});
        $(".s1class").css({"color":"#748194"});
        $("#right").addClass("right_hover");
        $(".signin").css({"display":"none"});
        $(".signup").css({"display":""});
      });
      $("#left").click(function(){
        $(".s1class").css({"color":"#EE9BA3"});
        $(".s2class").css({"color":"#748194"}); 
        $("#right").removeClass("right_hover");
        $("#left").addClass("left_hover");
        $(".signup").css({"display":"none"});
        $(".signin").css({"display":""});
      });
     </script>

</body>

</html>