<html>

    <head>
        <title>
            Home Page
        </title>
    </head>
    <body>
        <h1>Welcome to homepage</h1>
        <% if (success){ %>
            <p>Welcome <%= name %></p>
        <% } %>

        <button type = "button" class="btn btn-default">Logout</button>
    </body>
</html>