<html>
<head>
        <link type="text/css" rel="stylesheet" href="/css/styleprofile.css">
    
</head>
<body>
        <h1 class="title-pen"> OINGO User Profile </h1>
        <div class="user-profile">
            <img class="avatar" src="/avatar.png"  />
            <div class="username"><%=name %></div>
          
            <br/>
            <br/>
            <br/>

            

          <ul class="data">
            <li>
              <span class="entypo-hourglass"> Filters : 8 </span>
            </li>
            <li>
              <span class="entypo-pencil"> Posts : 9</span>
            </li>
            <li>
              <span class="entypo-user"> Friends : 10</span>
            </li>
         </ul>

         <footer>   
                <form action="/home/profile" method="POST">
                    <h1>
                    State
                    <textarea name="State"  id="State" rows="1"></textarea>
                </h1>
                <input type= "submit" value="Submit"></input>
                </form>
            </footer>
        </div>
</body>
</html>